/*Treat the icons like fonts  font-size, color etc...*/

*{
    box-sizing: border-box;
}


body{
    margin:0;
}

.app{
    text-align: center;
}

.location{
   font-family: 'Acme', sans-serif;
    border-style: solid;
    border-color: azure;
    border-width: thick;
     background-image: linear-gradient(to right, blue , white)
   

}

.current_conditions{
    height:25vh;
    padding:5vh 0;
    border-style: solid;
    border-color: azure;
    border-width: thick;
    background:lightblue; 
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lobster', cursive; 
}




.weath_descrip{
    height:10vh;
    background:lightblue;
    padding-top: 2.5vh;
    font-family: 'Indie Flower', cursive;
}

.weather_details{
    height:55vh;
    padding-top: 5vh;
    padding:1vh 0;
    border-style:solid;
    border-color: azure;
    border-width: thick;
    background:lightblue;
    font-family: 'Lobster', cursive;
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, blue , lightblue)       
    
       
    
}

.boxes{
    padding-top: 10vh
}